<!DOCTYPE html>
<meta charset="utf-8">
<title>linked-data-editor</title>
<link rel="stylesheet" href="build/main.css">
<script src="build/vendor.min.js"></script>
<script src="build/ld.js"></script>
<script src="build/main.js"></script>

<div id="editor" class="{{ld.lang? '' : 'raw'}}">
  <form v-cloak>
    <label><input type="radio" v-model="ld.lang" name="lang" value=""> raw</label>
    <label><input type="radio" v-model="ld.lang" name="lang" value="en"> en</label>
    <label><input type="radio" v-model="ld.lang" name="lang" value="sv"> sv</label>
    <select name="item" v-model="editId" options="thingOptGroups()"
            v-on="change: edit(editId)"></select>
    <!-- <button v-on="click: save()">Save</button> -->
  </form>
  <edit-node v-if="item" type="main" item="{{item}}"></edit-node>
</div>

<template id="edit-node">
  <article class="card {{ type === 'main'? 'main' : 'embedded' }}">
    <header>
      <partial name="show-type"></partial>
      <a class="id" v-if="item[ID]" href="{{item[ID]}}">{{item[ID]}}</a>
    </header>
    <partial name="edit-contents"></partial>
  </article>
</template>

<template id="edit-ref">
  <a class="ref" href="{{item[ID]}}" v-on="click: show($event)"
    >{{ld.label(ld.deref(item))}}</a></p>
</template>

<template id="edit-bnode">
  <div class="card">
    <header>
      <partial name="show-type"></partial>
    </header>
    <partial name="edit-contents"></partial>
  </div>
</template>

<template id="edit-contents">
  <template v-repeat="part : ld.parts(item)" track-by="key">
    <p v-if="part.literal">
      <partial name="show-term"></partial>
      <span>{{part.value}}</span>
      <!-- <input v-model="item[part.key]"> -->
    </p>
    <div v-if="part.array">
      <partial name="show-term"></partial>
      <ul v-if="part.array">
        <li v-repeat="li : part.value">
          <span v-if="li.literal">{{li.value}}</span>
          <edit-ref v-if="li.ref" item="{{li.value}}"
                    container="{{item[part.key]}}" key="{{$index}}"></edit-ref>
          <component v-if="li.node"
            is="edit-{{li.bnode? 'bnode' : 'node'}}" item="{{li.value}}"></component>
        </li>
      </ul>
    </div>
    <p v-if="part.ref">
      <partial name="show-term"></partial>
      <edit-ref item="{{part.value}}"></edit-ref>
    </p>
    <div v-if="part.node">
      <partial name="show-term"></partial>
      <component is="edit-{{part.bnode? 'bnode' : 'node'}}" item="{{part.value}}"></component>
    </div>
  </template>
</template>

<template id="show-term">
  <b>{{ld.label(part.term, part.key)}}</b>
</template>

<template id="show-type">
  <b v-if="item[TYPE]">{{ld.label(ld.model[item[TYPE]], item[TYPE])}}</b>
</template>
